$fs-10: 0.625em
$fs-12: 0.75em
$fs-14: 0.875em
$fs-16: 1em
$fs-18: 1.125em
$fs-20: 1.25em
$fs-22: 1.375em
$fs-24: 1.5em
$fs-36: 2.25em
$fs-48: 3em
$fs-64: 4em


.serif
    font-family: $serif


.sans-serif
    font-family: $sans


.cursive
    font-family: cursive


.monospace
    font-family: $mono


.uppercase
    text-transform: uppercase


.fs-10
    font-size: $fs-10


.fs-12
    font-size: $fs-12


.fs-14
    font-size: $fs-14


.fs-16
    font-size: $fs-16


.fs-18
    font-size: $fs-18

.fs-20
    font-size: $fs-20

.fs-22
    font-size: $fs-22

.fs-24
    font-size: $fs-24


.fs-36
    font-size: $fs-36


.fs-48
    font-size: $fs-48


.fs-64
    font-size: $fs-64


.uppercase
    text-transform: uppercase


.italic
    font-style: italic

.extrabold
    font-weight: 800

.bold
    font-weight: 700

.semibold
    font-weight: 600

.medium
    font-weight: 500

.normal
    font-weight: 400

.word-break
    word-break: break-word
