.button, button
    @include button()
    background-color: $primary-light
    border: 2px solid $primary-light
    color: #fff

    &:hover
        background-color: $primary-dark
        border: 2px solid $primary-dark

    &:focus
        outline-offset: 4px
        outline-color: $primary-light

    &:disabled
        cursor: not-allowed
        color: #fff
        border-color: $black
        background-color: $black
        opacity: 0.3

        &:hover
            box-shadow: none
            border: 2px solid transparent
            cursor: initial

    &.alt
        background-color: #fff
        border: 2px solid $primary-light
        color: $primary-light

        &:hover,
        &:focus
            background-color: $primary-dark
            border: 2px solid $primary-dark
            color: #fff


    &.primary
        color: white
        background-color: $primary-light
        border-color: $primary-light

        &:hover
            border-color: $primary-dark
            background-color: $primary-dark
            color: white

        &.alt
            color: $primary-light
            border-color: $primary-light
            background-color: transparent

            &:hover, &:focus
                border-color: $primary-dark
                background-color: white
                color: $primary-dark


    &.secondary
        color: white
        background-color: $accent-light
        border-color: $accent-light

        &:hover
            border-color: $accent-dark
            background-color: $accent-dark
            color: white

        &.alt
            color: $accent-light
            border-color: $accent-light
            background-color: transparent

            &:hover, &:focus
                border-color: $accent-dark
                background-color: $accent-dark
                color: white


    &.danger
        color: white
        background-color: $error-light
        border-color: $error-light

        &:hover
            border-color: $error-dark
            background-color: $error-dark

        &.alt
            border: 1px solid $error-light
            color: $error-light
            background-color: white

            &:hover, &:focus
                border-color: $error-dark
                color: white
                background-color: $error-dark


    &.info
        color: white
        background-color: $info-light
        border-color: $info-light

        &:hover
            background-color: #186c77
            border-color: #186c77

        &.alt
            border: 1px solid $info-light
            color: $info-light
            background-color: white

            &:hover, &:focus
                border-color: #186c77
                color: white
                background-color: #186c77


    &.success
        color: white
        background-color: $success-light
        border-color: $success-light

        &:hover
            background-color: $success-dark
            border-color: $success-dark

        &.alt
            border: 1px solid $success-light
            color: $success-light
            background-color: white

            &:hover, &:focus
                color: white
                border-color: $success-dark
                background-color: $success-dark


    &.warning
        color: $black
        background-color: $warning-light
        border-color: $warning-light

        &:hover
            background-color: $warning-dark
            border-color: $warning-dark
            color: white

        &.alt
            border: 1px solid $warning-light
            color: $warning-light
            background-color: white

            &:hover, &:focus
                color: white
                border-color: $warning-dark
                background-color: $warning-dark


    &.transparent
        border-color: transparent
        background-color: transparent
        color: inherit

        &:hover, &:active
            background-color: $primary-light
            color: white


    &.white-button
        background-color: $gray-0
        border-color: $black
        color: $black

        &:hover
            background-color: $black
            border-color: $black
            color: $gray-0


    &.black-button
        background-color: $black
        border-color: $black
        color: white

        &:hover
            background-color: white
            border-color: $black
            color: $black


    &.gray-button
        color: white
        background-color: $gray-60
        border-color: $gray-60

        &:hover
            background-color: $gray-80
            border-color: white
            color: white


    &.active
        &:hover
            background-color: $primary-light

    i.fa
        margin-right: 2px

    &:disabled
        cursor: not-allowed
        opacity: 0.3


.close-button
    @include close-button()
    margin: 0 !important

    &:hover
        border: none
        background-color: rgba(0, 0, 0, 0.3)


button.link-button,
a.link-button
    font-size: 16px
    font-weight: 400
    text-transform: none
    background-color: transparent
    border-color: transparent
    color: $text

    &:hover
        background-color: transparent
        border-color: transparent
        color: $primary-dark


.scroll-to-top-button
    position: fixed
    right: 1.5em
    bottom: 2.5em
    background-color: $gray-20
    border-color: $gray-20
    color: $text
    z-index: 4

    &:hover, &:focus
        background-color: $primary-light
        border-color: $primary-light
        color: white


button.button-square,
button.button-circle
    aspect-ratio: 1
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 30px
    text-decoration: none

    i
        margin-right: 0


.button-circle
    padding: 0.75em
    border-radius: 50%


.button-square
    padding: 0.625em
    border-radius: 0.125em

    @media screen and (max-width: $s-600)
        width: auto
        display: flex


.button-group, .pagination
    display: flex
    flex-direction: row
    flex-wrap: nowrap


.button-group
    column-gap: 0.5em

    button
        margin-top: 0

    .modal-content
        button
            margin-top: 1em


.pagination
    justify-content: center
    column-gap: 0.25em

    .button.transparent
        &:hover, &:active
            color: white
            background-color: $gray-60

    .button.disabled
        &:hover, &:active
            color: inherit
            background-color: transparent

    .button.active
        &:hover, &:active
            background-color: $gray-80
            color: white
            border-color: $gray-80


@media screen and (max-width: 550px)
    button:not(.scroll-to-top-button):not(.button-circle):not(.button-square):not(.darkmode-toggle):not(.event-list-widget--search-button),
    .button:not(.scroll-to-top-button):not(.button-circle):not(.button-square):not(.darkmode-toggle):not(.event-list-widget--search-button)
        width: 100%
        display: block

